@use "../../styles/variables" as *;

.sidebar {
  width: 280px;
  background: #111827;

  border-right: 1px solid rgba(255,255,255,.08);

  padding: 25px;

  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  color: white;
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 50px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #9ca3af;

  padding: 15px;

  border-radius: 12px;

  transition: .3s;
}

.sidebar nav a:hover {
  background: rgba(124,58,237,.15);

  color: white;
}

.logout-btn {
  margin-top: auto;

  background: transparent;

  color: white;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px;

  border-radius: 12px;
}